{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center cContainer">
        <h1 class="text-3xl cH1">Vous êtes </h1>
        <div>
            <button class="bouton" href="/login">
                <a href="/login">Professeur</a>
            </button>
            <button class="bouton" href="/login">
                <a href="/login">Elève</a>
            </button>
        </div>
    </div>
{% endblock %}